<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Bot</title>
    <!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="/fonts\material-design-iconic-font\css/material-design-iconic-font.min.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="wrapper">
        <div class="inner">
            <form method="POST" action="/">
                <h3>Student Login</h3>
                <p>Please enter your details.</p>
                <label class="form-group">
                    <input type="text" name="Name" class="form-control"  required>
                    <span>Your Name</span>
                    <span class="border"></span>
                </label>
                <label class="form-group">
                    <input name="Department"type="text" class="form-control"  required>
                    <span for="">Department</span>
                    <span class="border"></span>
                </label>
                <label class="form-group" >
                    <textarea name="Rollno" id="" class="form-control" required></textarea>
                    <span for="">Roll No.</span>
                    <span class="border"></span>
                </label>
                <button>Submit 
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
    

</body>

</html>